.titulo{
  text-align: center;
  margin-top: 1rem;
}
button{
  text-align: center;
  margin-left: 1rem;
}
.botones{
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
}
@media screen and (max-width: 858px){
  .botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  button{
    margin-bottom: 1rem;
  }
}
.formulario{
  margin-top: 1rem;
}
form{
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.resultado{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 1rem;
  margin-top: 3rem;
}

@media screen and (max-width: 858px){
  .resultado{
    display: block;
  }
}
.footer p {
  text-align: center;
}
